In [26]:
import time, enum, math
import numpy as np
import pandas as pd
import pylab as plt
from mesa import Agent, Model
from mesa.time import SimultaneousActivation, RandomActivation
from mesa.space import NetworkGrid
from mesa.datacollection import DataCollector
from mesa.batchrunner import BatchRunner
from networkx.algorithms.shortest_paths.generic import has_path
import networkx as nx
import random
import pickle
import csv
from tqdm import tqdm, trange
from time import sleep

data_path = '../'


with open((data_path + 'batch_out.pickle'), 'rb') as handle:
    batch_out = pickle.load(handle)

 
with open(( data_path + 'batch_keys.csv')) as f:
    batch_keys=[tuple(line) for line in csv.reader(f)]


agent_state.to_csv((data_path + 'single_run_output.csv'), header = True)

In [50]:
keys = list(batch_out.keys())

In [52]:
batch_out[keys[0]]

                 Type  Foresight  Position                 Ports of Interest  \
Step AgentID
1    1        [Large]          0      3855          [753, 2232, 47914, 3359]
     2        [Small]          0      7144  [3595, 3799, 2927, 29747, 26969]
2    1        [Large]          0      3501          [753, 2232, 47914, 3359]
     2        [Small]          0       621  [3595, 3799, 2927, 29747, 26969]
3    1        [Large]          0      6868          [753, 2232, 47914, 3359]
     2        [Small]          0      6868  [3595, 3799, 2927, 29747, 26969]
4    1        [Large]          0      6869          [753, 2232, 47914, 3359]
     2        [Small]          0      6869  [3595, 3799, 2927, 29747, 26969]
5    1        [Large]          0      7019          [753, 2232, 47914, 3359]
     2        [Small]          0      2667  [3595, 3799, 2927, 29747, 26969]
6    1        [Large]          0      3860          [753, 2232, 47914, 3359]
     2        [Small]          0     26969  [3595, 3799, 2927, 29747, 26969]
7    1        [Large]          0     24980          [753, 2232, 47914, 3359]
     2        [Small]          0      2667  [3595, 3799, 2927, 29747, 26969]
8    1        [Large]          0     25029          [753, 2232, 47914, 3359]
     2        [Small]          0      6869  [3595, 3799, 2927, 29747, 26969]
9    1        [Large]          0      2000          [753, 2232, 47914, 3359]
     2        [Small]          0      6859  [3595, 3799, 2927, 29747, 26969]
10   1        [Large]          0      1028          [753, 2232, 47914, 3359]
     2        [Small]          0      6865  [3595, 3799, 2927, 29747, 26969]

                                                      Itinerary  \
Step AgentID
1    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
2    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
3    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
4    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
5    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
6    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
7    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
8    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
9    1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...
10   1        [753, 3855, 3501, 6868, 6869, 7019, 3860, 2498...
     2        [3595, 7144, 621, 6868, 6869, 2667, 26969, 266...

              Distance_Traveled  \
Step AgentID
1    1                     6.32
     2                    93.51
2    1                    12.64
     2                   187.02
3    1                    19.59
     2                   194.69
4    1                    22.79
     2                   235.70
5    1                    23.09
     2                   236.00
6    1                    23.78
     2                   237.75
7    1                    30.22
     2                   249.71
8    1                    37.16
     2                   261.67
9    1                    81.87
     2                   263.42
10   1                   102.55
     2                   264.47

                                                          Route  \
Step AgentID
1    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
2    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
3    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
4    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
5    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
6    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
7    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
8    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
9    1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...
10   1        [1028, 2232, 1028, 2000, 25029, 24980, 3860, 7...
     2        [6865, 6861, 3128, 2132, 23786, 6919, 6260, 29...

              Route Changes  Destination not reachable  Complete  Success  \
Step AgentID
1    1                    0                          0         0        0
     2                    0                          0         0        0
2    1                    0                          0         0        0
     2                    0                          0         0        0
3    1                    0                          0         0        0
     2                    0                          0         0        0
4    1                    0                          0         0        0
     2                    0                          0         0        0
5    1                    0                          0         0        0
     2                    0                          0         0        0
6    1                    0                          0         0        0
     2                    0                          0         0        0
7    1                    0                          0         0        0
     2                    0                          0         0        0
8    1                    0                          0         0        0
     2                    0                          0         0        0
9    1                    0                          0         0        0
     2                    0                          0         0        0
10   1                    0                          0         0        0
     2                    0                          0         0        0

              Stuck
Step AgentID
1    1            0
     2            0
2    1            0
     2            0
3    1            0
     2            0
4    1            0
     2            0
5    1            0
     2            0
6    1            0
     2            0
7    1            0
     2            0
8    1            0
     2            0
9    1            0
     2            0
10   1            0
     2            0